p + p .button, p + p input[type=submit] {
  margin-top: var(--s-4);
}

.button, input[type=submit], button, button.button, a.button {
  -webkit-align-self: start;
      -ms-flex-item-align: start;
          align-self: start;
  cursor: pointer;
  display: inline-block;
  font-family: var(--body-font);
  font-size: var(--s1);
  font-weight: var(--link-weight);
  padding: var(--s-1) var(--s2);
  text-align: center;
  text-decoration: none;
  -webkit-transition: all ease-in 200ms;
  transition: all ease-in 200ms;
  line-height: 1.5;
  margin-right: var(--s-2);
  margin-bottom: var(--s-2);
  border-color: transparent;
  background-size: 100% 100%;
  border-radius: var(--link-radius);
  background-color: var(--base-button-background);
  /* Button styles */
  /*
  - These classes control the look of buttons
    and also set the base colours from variables.

  - These colours are affected by background colours if set,
    these styles are located in _utilities/_generator/_colour-utility.scss
  */
}
.button.primary, input[type=submit].primary, button.primary, button.button.primary, a.button.primary {
  background-color: var(--base-button-background);
  border: var(--base-button-border-weight) solid var(--base-button-border-color);
  color: var(--base-button-text);
  letter-spacing: 3px;
}
@media only screen and (max-width: 767px) {
  .button.primary, input[type=submit].primary, button.primary, button.button.primary, a.button.primary {
    width: 100%;
  }
}
.button.primary:hover, input[type=submit].primary:hover, button.primary:hover, button.button.primary:hover, a.button.primary:hover {
  background-color: var(--base-button-hover);
  border-color: var(--base-button-hover-border-color);
  color: var(--base-button-hover-text);
  -webkit-transition: all ease-in 200ms;
  transition: all ease-in 200ms;
  text-decoration: none;
}
.button.primary:focus, input[type=submit].primary:focus, button.primary:focus, button.button.primary:focus, a.button.primary:focus {
  outline-offset: 0.4rem;
  outline: 1px dotted;
}
.button.primary:after, input[type=submit].primary:after, button.primary:after, button.button.primary:after, a.button.primary:after {
  content: "";
}
.button.primary.small, input[type=submit].primary.small, button.primary.small, button.button.primary.small, a.button.primary.small {
  font-size: var(--s-2);
  letter-spacing: 0.2em;
  padding: var(--s-4) var(--s1);
}
.button.ghost, input[type=submit].ghost, button.ghost, button.button.ghost, a.button.ghost {
  -webkit-align-self: start;
      -ms-flex-item-align: start;
          align-self: start;
  background-color: transparent;
  background-size: 100% 100%;
  border: var(--base-button-border-weight) solid var(--base-button-background);
  border-radius: var(--link-radius);
  color: var(--base-button-background);
  cursor: pointer;
  border-color: inherit;
  display: inline-block;
  box-sizing: content-box;
}
.button.ghost:hover, input[type=submit].ghost:hover, button.ghost:hover, button.button.ghost:hover, a.button.ghost:hover {
  border-color: var(--base-button-hover-border-color);
  background-color: var(--base-button-background);
  color: var(--base-button-button-text);
  -webkit-transition: background-color ease-in 200ms;
  transition: background-color ease-in 200ms;
}
.button.ghost.white, input[type=submit].ghost.white, button.ghost.white, button.button.ghost.white, a.button.ghost.white {
  border-color: var(--light-main);
  color: var(--light-main);
}
.button.ghost.small, input[type=submit].ghost.small, button.ghost.small, button.button.ghost.small, a.button.ghost.small {
  font-size: var(--s-2);
  letter-spacing: 0.2em;
  padding: var(--s-4) var(--s1);
}
.button.secondary, input[type=submit].secondary, button.secondary, button.button.secondary, a.button.secondary {
  display: inline-block;
  background-color: transparent;
  color: var(--base-body);
  border: none;
  width: auto;
  min-height: unset;
  text-align: left;
  border-bottom: 1px solid transparent;
  padding: 0;
  border-radius: 0;
  font-weight: var(--link-weight);
}
.button.secondary:after, input[type=submit].secondary:after, button.secondary:after, button.button.secondary:after, a.button.secondary:after {
  display: inline;
  font-family: "Font Awesome 5 Free";
  content: "  \f054";
  font-weight: 900;
  padding: 0 5px 5px 0;
}
.button.secondary:hover, input[type=submit].secondary:hover, button.secondary:hover, button.button.secondary:hover, a.button.secondary:hover {
  text-decoration: none;
  border-bottom: 1px solid var(--primary-main);
  -webkit-transition: border ease-in 200ms;
  transition: border ease-in 200ms;
}
.button.full-width, input[type=submit].full-width, button.full-width, button.button.full-width, a.button.full-width {
  width: 100%;
}
.button.load-more, input[type=submit].load-more, button.load-more, button.button.load-more, a.button.load-more {
  width: 100%;
  box-sizing: border-box;
}
.button:active, input[type=submit]:active, button:active, button.button:active, a.button:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

input[type=submit] {
  border-style: none;
}

a.abs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.button-wrap {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.button-wrap.left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.button-wrap.right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.button-wrap.center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.button-wrap.space-around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.button-wrap.space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.button-wrap.space-evenly {
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.button-wrap.evenStretch {
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: var(--s1);
}
.button-wrap.evenStretch > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.button-wrap.vertStack {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.button-wrap.vertStack a button {
  margin-right: 0;
}

@media only screen and (max-width: 767px) {
  .fullWidthMobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
            align-content: stretch;
  }
  .fullWidthMobile a:not(.secondary) {
    width: 100%;
    box-sizing: border-box;
  }
}