/*----------------------------------------
  # SIZE SCALE
----------------------------------------*/
:root {
  --spacing-ratio: 1.3;
  --s-5: calc(var(--s-4) / var(--spacing-ratio));
  --s-4: calc(var(--s-3) / var(--spacing-ratio));
  --s-3: calc(var(--s-2) / var(--spacing-ratio));
  --s-2: calc(var(--s-1) / var(--spacing-ratio));
  --s-1: calc(var(--s1) / var(--spacing-ratio));
  --s0:0;
  --s1: 1rem;
  --s2: calc(var(--s1) * var(--spacing-ratio));
  --s3: calc(var(--s2) * var(--spacing-ratio));
  --s4: calc(var(--s3) * var(--spacing-ratio));
  --s5: calc(var(--s4) * var(--spacing-ratio));
  --s6: calc(var(--s5) * var(--spacing-ratio));
  --s7: calc(var(--s6) * var(--spacing-ratio));
  --s8: calc(var(--s7) * var(--spacing-ratio));
  --s9: calc(var(--s8) * var(--spacing-ratio));
  --s10: calc(var(--s9) * var(--spacing-ratio));
  --s-neg5: calc(-1 * var(--s5));
  --s-neg4: calc(-1 * var(--s4));
  --s-neg3: calc(-1 * var(--s3));
  --s-neg2: calc(-1 * var(--s2));
  --s-neg1: calc(-1 * var(--s1));
  --measure: 110ch;
  --grid-gap: var(--s2);
  --base-button-border-weight:2px;
}

/*----------------------------------------
  000 utility classes
----------------------------------------*/
.pad-000 {
  padding-top: var(--s0);
  padding-bottom: var(--s0);
  padding-left: var(--s0);
  padding-right: var(--s0);
}
@media only screen and (min-width: 1500px) {
  .pad-000-extra-large {
    padding-top: var(--s0);
    padding-bottom: var(--s0);
    padding-left: var(--s0);
    padding-right: var(--s0);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-000-large {
    padding-top: var(--s0);
    padding-bottom: var(--s0);
    padding-left: var(--s0);
    padding-right: var(--s0);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-000-medium-large {
    padding-top: var(--s0);
    padding-bottom: var(--s0);
    padding-left: var(--s0);
    padding-right: var(--s0);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-000-medium {
    padding-top: var(--s0);
    padding-bottom: var(--s0);
    padding-left: var(--s0);
    padding-right: var(--s0);
  }
}
@media only screen and (min-width: 920px) {
  .pad-000-large-tablet {
    padding-top: var(--s0);
    padding-bottom: var(--s0);
    padding-left: var(--s0);
    padding-right: var(--s0);
  }
}
@media only screen and (min-width: 767px) {
  .pad-000-tablet {
    padding-top: var(--s0);
    padding-bottom: var(--s0);
    padding-left: var(--s0);
    padding-right: var(--s0);
  }
}
@media only screen and (min-width: 575px) {
  .pad-000-phablet {
    padding-top: var(--s0);
    padding-bottom: var(--s0);
    padding-left: var(--s0);
    padding-right: var(--s0);
  }
}
@media only screen and (min-width: 480px) {
  .pad-000-mobile {
    padding-top: var(--s0);
    padding-bottom: var(--s0);
    padding-left: var(--s0);
    padding-right: var(--s0);
  }
}
@media only screen and (min-width: 375px) {
  .pad-000-small-mobile {
    padding-top: var(--s0);
    padding-bottom: var(--s0);
    padding-left: var(--s0);
    padding-right: var(--s0);
  }
}

.pad-top-000:nth-child(1n) {
  padding-top: var(--s0);
}
@media only screen and (min-width: 1500px) {
  .pad-top-000-extra-large {
    padding-top: var(--s0);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-top-000-large {
    padding-top: var(--s0);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-top-000-medium-large {
    padding-top: var(--s0);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-top-000-medium {
    padding-top: var(--s0);
  }
}
@media only screen and (min-width: 920px) {
  .pad-top-000-large-tablet {
    padding-top: var(--s0);
  }
}
@media only screen and (min-width: 767px) {
  .pad-top-000-tablet {
    padding-top: var(--s0);
  }
}
@media only screen and (min-width: 575px) {
  .pad-top-000-phablet {
    padding-top: var(--s0);
  }
}
@media only screen and (min-width: 480px) {
  .pad-top-000-mobile {
    padding-top: var(--s0);
  }
}
@media only screen and (min-width: 375px) {
  .pad-top-000-small-mobile {
    padding-top: var(--s0);
  }
}

.pad-bottom-000:nth-child(1n) {
  padding-bottom: var(--s0);
}
@media only screen and (min-width: 1500px) {
  .pad-bottom-000-extra-large {
    padding-bottom: var(--s0);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-bottom-000-large {
    padding-bottom: var(--s0);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-bottom-000-medium-large {
    padding-bottom: var(--s0);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-bottom-000-medium {
    padding-bottom: var(--s0);
  }
}
@media only screen and (min-width: 920px) {
  .pad-bottom-000-large-tablet {
    padding-bottom: var(--s0);
  }
}
@media only screen and (min-width: 767px) {
  .pad-bottom-000-tablet {
    padding-bottom: var(--s0);
  }
}
@media only screen and (min-width: 575px) {
  .pad-bottom-000-phablet {
    padding-bottom: var(--s0);
  }
}
@media only screen and (min-width: 480px) {
  .pad-bottom-000-mobile {
    padding-bottom: var(--s0);
  }
}
@media only screen and (min-width: 375px) {
  .pad-bottom-000-small-mobile {
    padding-bottom: var(--s0);
  }
}

.pad-left-000:nth-child(1n) {
  padding-left: var(--s0);
}
@media only screen and (min-width: 1500px) {
  .pad-left-000-extra-large {
    padding-left: var(--s0);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-left-000-large {
    padding-left: var(--s0);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-left-000-medium-large {
    padding-left: var(--s0);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-left-000-medium {
    padding-left: var(--s0);
  }
}
@media only screen and (min-width: 920px) {
  .pad-left-000-large-tablet {
    padding-left: var(--s0);
  }
}
@media only screen and (min-width: 767px) {
  .pad-left-000-tablet {
    padding-left: var(--s0);
  }
}
@media only screen and (min-width: 575px) {
  .pad-left-000-phablet {
    padding-left: var(--s0);
  }
}
@media only screen and (min-width: 480px) {
  .pad-left-000-mobile {
    padding-left: var(--s0);
  }
}
@media only screen and (min-width: 375px) {
  .pad-left-000-small-mobile {
    padding-left: var(--s0);
  }
}

.pad-right-000:nth-child(1n) {
  padding-right: var(--s0);
}
@media only screen and (min-width: 1500px) {
  .pad-right-000-extra-large {
    padding-right: var(--s0);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-right-000-large {
    padding-right: var(--s0);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-right-000-medium-large {
    padding-right: var(--s0);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-right-000-medium {
    padding-right: var(--s0);
  }
}
@media only screen and (min-width: 920px) {
  .pad-right-000-large-tablet {
    padding-right: var(--s0);
  }
}
@media only screen and (min-width: 767px) {
  .pad-right-000-tablet {
    padding-right: var(--s0);
  }
}
@media only screen and (min-width: 575px) {
  .pad-right-000-phablet {
    padding-right: var(--s0);
  }
}
@media only screen and (min-width: 480px) {
  .pad-right-000-mobile {
    padding-right: var(--s0);
  }
}
@media only screen and (min-width: 375px) {
  .pad-right-000-small-mobile {
    padding-right: var(--s0);
  }
}

.gap-top-000 {
  margin-top: var(--s0);
}

.gap-bottom-000 {
  margin-bottom: var(--s0);
}

.grid-gap-000 {
  grid-gap: var(--s0);
}

.flex-gap-000 {
  gap: var(--s0);
}

/*----------------------------------------
  100 utility classes
----------------------------------------*/
.pad-100 {
  padding-top: var(--s1);
  padding-bottom: var(--s1);
  padding-left: var(--s1);
  padding-right: var(--s1);
}
@media only screen and (min-width: 1500px) {
  .pad-100-extra-large {
    padding-top: var(--s1);
    padding-bottom: var(--s1);
    padding-left: var(--s1);
    padding-right: var(--s1);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-100-large {
    padding-top: var(--s1);
    padding-bottom: var(--s1);
    padding-left: var(--s1);
    padding-right: var(--s1);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-100-medium-large {
    padding-top: var(--s1);
    padding-bottom: var(--s1);
    padding-left: var(--s1);
    padding-right: var(--s1);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-100-medium {
    padding-top: var(--s1);
    padding-bottom: var(--s1);
    padding-left: var(--s1);
    padding-right: var(--s1);
  }
}
@media only screen and (min-width: 920px) {
  .pad-100-large-tablet {
    padding-top: var(--s1);
    padding-bottom: var(--s1);
    padding-left: var(--s1);
    padding-right: var(--s1);
  }
}
@media only screen and (min-width: 767px) {
  .pad-100-tablet {
    padding-top: var(--s1);
    padding-bottom: var(--s1);
    padding-left: var(--s1);
    padding-right: var(--s1);
  }
}
@media only screen and (min-width: 575px) {
  .pad-100-phablet {
    padding-top: var(--s1);
    padding-bottom: var(--s1);
    padding-left: var(--s1);
    padding-right: var(--s1);
  }
}
@media only screen and (min-width: 480px) {
  .pad-100-mobile {
    padding-top: var(--s1);
    padding-bottom: var(--s1);
    padding-left: var(--s1);
    padding-right: var(--s1);
  }
}
@media only screen and (min-width: 375px) {
  .pad-100-small-mobile {
    padding-top: var(--s1);
    padding-bottom: var(--s1);
    padding-left: var(--s1);
    padding-right: var(--s1);
  }
}

.pad-top-100:nth-child(1n) {
  padding-top: var(--s1);
}
@media only screen and (min-width: 1500px) {
  .pad-top-100-extra-large {
    padding-top: var(--s1);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-top-100-large {
    padding-top: var(--s1);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-top-100-medium-large {
    padding-top: var(--s1);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-top-100-medium {
    padding-top: var(--s1);
  }
}
@media only screen and (min-width: 920px) {
  .pad-top-100-large-tablet {
    padding-top: var(--s1);
  }
}
@media only screen and (min-width: 767px) {
  .pad-top-100-tablet {
    padding-top: var(--s1);
  }
}
@media only screen and (min-width: 575px) {
  .pad-top-100-phablet {
    padding-top: var(--s1);
  }
}
@media only screen and (min-width: 480px) {
  .pad-top-100-mobile {
    padding-top: var(--s1);
  }
}
@media only screen and (min-width: 375px) {
  .pad-top-100-small-mobile {
    padding-top: var(--s1);
  }
}

.pad-bottom-100:nth-child(1n) {
  padding-bottom: var(--s1);
}
@media only screen and (min-width: 1500px) {
  .pad-bottom-100-extra-large {
    padding-bottom: var(--s1);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-bottom-100-large {
    padding-bottom: var(--s1);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-bottom-100-medium-large {
    padding-bottom: var(--s1);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-bottom-100-medium {
    padding-bottom: var(--s1);
  }
}
@media only screen and (min-width: 920px) {
  .pad-bottom-100-large-tablet {
    padding-bottom: var(--s1);
  }
}
@media only screen and (min-width: 767px) {
  .pad-bottom-100-tablet {
    padding-bottom: var(--s1);
  }
}
@media only screen and (min-width: 575px) {
  .pad-bottom-100-phablet {
    padding-bottom: var(--s1);
  }
}
@media only screen and (min-width: 480px) {
  .pad-bottom-100-mobile {
    padding-bottom: var(--s1);
  }
}
@media only screen and (min-width: 375px) {
  .pad-bottom-100-small-mobile {
    padding-bottom: var(--s1);
  }
}

.pad-left-100:nth-child(1n) {
  padding-left: var(--s1);
}
@media only screen and (min-width: 1500px) {
  .pad-left-100-extra-large {
    padding-left: var(--s1);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-left-100-large {
    padding-left: var(--s1);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-left-100-medium-large {
    padding-left: var(--s1);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-left-100-medium {
    padding-left: var(--s1);
  }
}
@media only screen and (min-width: 920px) {
  .pad-left-100-large-tablet {
    padding-left: var(--s1);
  }
}
@media only screen and (min-width: 767px) {
  .pad-left-100-tablet {
    padding-left: var(--s1);
  }
}
@media only screen and (min-width: 575px) {
  .pad-left-100-phablet {
    padding-left: var(--s1);
  }
}
@media only screen and (min-width: 480px) {
  .pad-left-100-mobile {
    padding-left: var(--s1);
  }
}
@media only screen and (min-width: 375px) {
  .pad-left-100-small-mobile {
    padding-left: var(--s1);
  }
}

.pad-right-100:nth-child(1n) {
  padding-right: var(--s1);
}
@media only screen and (min-width: 1500px) {
  .pad-right-100-extra-large {
    padding-right: var(--s1);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-right-100-large {
    padding-right: var(--s1);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-right-100-medium-large {
    padding-right: var(--s1);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-right-100-medium {
    padding-right: var(--s1);
  }
}
@media only screen and (min-width: 920px) {
  .pad-right-100-large-tablet {
    padding-right: var(--s1);
  }
}
@media only screen and (min-width: 767px) {
  .pad-right-100-tablet {
    padding-right: var(--s1);
  }
}
@media only screen and (min-width: 575px) {
  .pad-right-100-phablet {
    padding-right: var(--s1);
  }
}
@media only screen and (min-width: 480px) {
  .pad-right-100-mobile {
    padding-right: var(--s1);
  }
}
@media only screen and (min-width: 375px) {
  .pad-right-100-small-mobile {
    padding-right: var(--s1);
  }
}

.gap-top-100 {
  margin-top: var(--s1);
}

.gap-bottom-100 {
  margin-bottom: var(--s1);
}

.grid-gap-100 {
  grid-gap: var(--s1);
}

.flex-gap-100 {
  gap: var(--s1);
}

/*----------------------------------------
  200 utility classes
----------------------------------------*/
.pad-200 {
  padding-top: var(--s2);
  padding-bottom: var(--s2);
  padding-left: var(--s2);
  padding-right: var(--s2);
}
@media only screen and (min-width: 1500px) {
  .pad-200-extra-large {
    padding-top: var(--s2);
    padding-bottom: var(--s2);
    padding-left: var(--s2);
    padding-right: var(--s2);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-200-large {
    padding-top: var(--s2);
    padding-bottom: var(--s2);
    padding-left: var(--s2);
    padding-right: var(--s2);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-200-medium-large {
    padding-top: var(--s2);
    padding-bottom: var(--s2);
    padding-left: var(--s2);
    padding-right: var(--s2);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-200-medium {
    padding-top: var(--s2);
    padding-bottom: var(--s2);
    padding-left: var(--s2);
    padding-right: var(--s2);
  }
}
@media only screen and (min-width: 920px) {
  .pad-200-large-tablet {
    padding-top: var(--s2);
    padding-bottom: var(--s2);
    padding-left: var(--s2);
    padding-right: var(--s2);
  }
}
@media only screen and (min-width: 767px) {
  .pad-200-tablet {
    padding-top: var(--s2);
    padding-bottom: var(--s2);
    padding-left: var(--s2);
    padding-right: var(--s2);
  }
}
@media only screen and (min-width: 575px) {
  .pad-200-phablet {
    padding-top: var(--s2);
    padding-bottom: var(--s2);
    padding-left: var(--s2);
    padding-right: var(--s2);
  }
}
@media only screen and (min-width: 480px) {
  .pad-200-mobile {
    padding-top: var(--s2);
    padding-bottom: var(--s2);
    padding-left: var(--s2);
    padding-right: var(--s2);
  }
}
@media only screen and (min-width: 375px) {
  .pad-200-small-mobile {
    padding-top: var(--s2);
    padding-bottom: var(--s2);
    padding-left: var(--s2);
    padding-right: var(--s2);
  }
}

.pad-top-200:nth-child(1n) {
  padding-top: var(--s2);
}
@media only screen and (min-width: 1500px) {
  .pad-top-200-extra-large {
    padding-top: var(--s2);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-top-200-large {
    padding-top: var(--s2);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-top-200-medium-large {
    padding-top: var(--s2);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-top-200-medium {
    padding-top: var(--s2);
  }
}
@media only screen and (min-width: 920px) {
  .pad-top-200-large-tablet {
    padding-top: var(--s2);
  }
}
@media only screen and (min-width: 767px) {
  .pad-top-200-tablet {
    padding-top: var(--s2);
  }
}
@media only screen and (min-width: 575px) {
  .pad-top-200-phablet {
    padding-top: var(--s2);
  }
}
@media only screen and (min-width: 480px) {
  .pad-top-200-mobile {
    padding-top: var(--s2);
  }
}
@media only screen and (min-width: 375px) {
  .pad-top-200-small-mobile {
    padding-top: var(--s2);
  }
}

.pad-bottom-200:nth-child(1n) {
  padding-bottom: var(--s2);
}
@media only screen and (min-width: 1500px) {
  .pad-bottom-200-extra-large {
    padding-bottom: var(--s2);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-bottom-200-large {
    padding-bottom: var(--s2);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-bottom-200-medium-large {
    padding-bottom: var(--s2);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-bottom-200-medium {
    padding-bottom: var(--s2);
  }
}
@media only screen and (min-width: 920px) {
  .pad-bottom-200-large-tablet {
    padding-bottom: var(--s2);
  }
}
@media only screen and (min-width: 767px) {
  .pad-bottom-200-tablet {
    padding-bottom: var(--s2);
  }
}
@media only screen and (min-width: 575px) {
  .pad-bottom-200-phablet {
    padding-bottom: var(--s2);
  }
}
@media only screen and (min-width: 480px) {
  .pad-bottom-200-mobile {
    padding-bottom: var(--s2);
  }
}
@media only screen and (min-width: 375px) {
  .pad-bottom-200-small-mobile {
    padding-bottom: var(--s2);
  }
}

.pad-left-200:nth-child(1n) {
  padding-left: var(--s2);
}
@media only screen and (min-width: 1500px) {
  .pad-left-200-extra-large {
    padding-left: var(--s2);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-left-200-large {
    padding-left: var(--s2);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-left-200-medium-large {
    padding-left: var(--s2);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-left-200-medium {
    padding-left: var(--s2);
  }
}
@media only screen and (min-width: 920px) {
  .pad-left-200-large-tablet {
    padding-left: var(--s2);
  }
}
@media only screen and (min-width: 767px) {
  .pad-left-200-tablet {
    padding-left: var(--s2);
  }
}
@media only screen and (min-width: 575px) {
  .pad-left-200-phablet {
    padding-left: var(--s2);
  }
}
@media only screen and (min-width: 480px) {
  .pad-left-200-mobile {
    padding-left: var(--s2);
  }
}
@media only screen and (min-width: 375px) {
  .pad-left-200-small-mobile {
    padding-left: var(--s2);
  }
}

.pad-right-200:nth-child(1n) {
  padding-right: var(--s2);
}
@media only screen and (min-width: 1500px) {
  .pad-right-200-extra-large {
    padding-right: var(--s2);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-right-200-large {
    padding-right: var(--s2);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-right-200-medium-large {
    padding-right: var(--s2);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-right-200-medium {
    padding-right: var(--s2);
  }
}
@media only screen and (min-width: 920px) {
  .pad-right-200-large-tablet {
    padding-right: var(--s2);
  }
}
@media only screen and (min-width: 767px) {
  .pad-right-200-tablet {
    padding-right: var(--s2);
  }
}
@media only screen and (min-width: 575px) {
  .pad-right-200-phablet {
    padding-right: var(--s2);
  }
}
@media only screen and (min-width: 480px) {
  .pad-right-200-mobile {
    padding-right: var(--s2);
  }
}
@media only screen and (min-width: 375px) {
  .pad-right-200-small-mobile {
    padding-right: var(--s2);
  }
}

.gap-top-200 {
  margin-top: var(--s2);
}

.gap-bottom-200 {
  margin-bottom: var(--s2);
}

.grid-gap-200 {
  grid-gap: var(--s2);
}

.flex-gap-200 {
  gap: var(--s2);
}

/*----------------------------------------
  300 utility classes
----------------------------------------*/
.pad-300 {
  padding-top: var(--s3);
  padding-bottom: var(--s3);
  padding-left: var(--s3);
  padding-right: var(--s3);
}
@media only screen and (min-width: 1500px) {
  .pad-300-extra-large {
    padding-top: var(--s3);
    padding-bottom: var(--s3);
    padding-left: var(--s3);
    padding-right: var(--s3);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-300-large {
    padding-top: var(--s3);
    padding-bottom: var(--s3);
    padding-left: var(--s3);
    padding-right: var(--s3);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-300-medium-large {
    padding-top: var(--s3);
    padding-bottom: var(--s3);
    padding-left: var(--s3);
    padding-right: var(--s3);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-300-medium {
    padding-top: var(--s3);
    padding-bottom: var(--s3);
    padding-left: var(--s3);
    padding-right: var(--s3);
  }
}
@media only screen and (min-width: 920px) {
  .pad-300-large-tablet {
    padding-top: var(--s3);
    padding-bottom: var(--s3);
    padding-left: var(--s3);
    padding-right: var(--s3);
  }
}
@media only screen and (min-width: 767px) {
  .pad-300-tablet {
    padding-top: var(--s3);
    padding-bottom: var(--s3);
    padding-left: var(--s3);
    padding-right: var(--s3);
  }
}
@media only screen and (min-width: 575px) {
  .pad-300-phablet {
    padding-top: var(--s3);
    padding-bottom: var(--s3);
    padding-left: var(--s3);
    padding-right: var(--s3);
  }
}
@media only screen and (min-width: 480px) {
  .pad-300-mobile {
    padding-top: var(--s3);
    padding-bottom: var(--s3);
    padding-left: var(--s3);
    padding-right: var(--s3);
  }
}
@media only screen and (min-width: 375px) {
  .pad-300-small-mobile {
    padding-top: var(--s3);
    padding-bottom: var(--s3);
    padding-left: var(--s3);
    padding-right: var(--s3);
  }
}

.pad-top-300:nth-child(1n) {
  padding-top: var(--s3);
}
@media only screen and (min-width: 1500px) {
  .pad-top-300-extra-large {
    padding-top: var(--s3);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-top-300-large {
    padding-top: var(--s3);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-top-300-medium-large {
    padding-top: var(--s3);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-top-300-medium {
    padding-top: var(--s3);
  }
}
@media only screen and (min-width: 920px) {
  .pad-top-300-large-tablet {
    padding-top: var(--s3);
  }
}
@media only screen and (min-width: 767px) {
  .pad-top-300-tablet {
    padding-top: var(--s3);
  }
}
@media only screen and (min-width: 575px) {
  .pad-top-300-phablet {
    padding-top: var(--s3);
  }
}
@media only screen and (min-width: 480px) {
  .pad-top-300-mobile {
    padding-top: var(--s3);
  }
}
@media only screen and (min-width: 375px) {
  .pad-top-300-small-mobile {
    padding-top: var(--s3);
  }
}

.pad-bottom-300:nth-child(1n) {
  padding-bottom: var(--s3);
}
@media only screen and (max-width: 480px) {
  .pad-bottom-300:nth-child(1n) {
    padding-bottom: var(--s2);
  }
}
@media only screen and (min-width: 1500px) {
  .pad-bottom-300-extra-large {
    padding-bottom: var(--s3);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-bottom-300-large {
    padding-bottom: var(--s3);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-bottom-300-medium-large {
    padding-bottom: var(--s3);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-bottom-300-medium {
    padding-bottom: var(--s3);
  }
}
@media only screen and (min-width: 920px) {
  .pad-bottom-300-large-tablet {
    padding-bottom: var(--s3);
  }
}
@media only screen and (min-width: 767px) {
  .pad-bottom-300-tablet {
    padding-bottom: var(--s3);
  }
}
@media only screen and (min-width: 575px) {
  .pad-bottom-300-phablet {
    padding-bottom: var(--s3);
  }
}
@media only screen and (min-width: 480px) {
  .pad-bottom-300-mobile {
    padding-bottom: var(--s3);
  }
}
@media only screen and (min-width: 375px) {
  .pad-bottom-300-small-mobile {
    padding-bottom: var(--s3);
  }
}

.pad-left-300:nth-child(1n) {
  padding-left: var(--s3);
}
@media only screen and (min-width: 1500px) {
  .pad-left-300-extra-large {
    padding-left: var(--s3);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-left-300-large {
    padding-left: var(--s3);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-left-300-medium-large {
    padding-left: var(--s3);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-left-300-medium {
    padding-left: var(--s3);
  }
}
@media only screen and (min-width: 920px) {
  .pad-left-300-large-tablet {
    padding-left: var(--s3);
  }
}
@media only screen and (min-width: 767px) {
  .pad-left-300-tablet {
    padding-left: var(--s3);
  }
}
@media only screen and (min-width: 575px) {
  .pad-left-300-phablet {
    padding-left: var(--s3);
  }
}
@media only screen and (min-width: 480px) {
  .pad-left-300-mobile {
    padding-left: var(--s3);
  }
}
@media only screen and (min-width: 375px) {
  .pad-left-300-small-mobile {
    padding-left: var(--s3);
  }
}

.pad-right-300:nth-child(1n) {
  padding-right: var(--s3);
}
@media only screen and (min-width: 1500px) {
  .pad-right-300-extra-large {
    padding-right: var(--s3);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-right-300-large {
    padding-right: var(--s3);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-right-300-medium-large {
    padding-right: var(--s3);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-right-300-medium {
    padding-right: var(--s3);
  }
}
@media only screen and (min-width: 920px) {
  .pad-right-300-large-tablet {
    padding-right: var(--s3);
  }
}
@media only screen and (min-width: 767px) {
  .pad-right-300-tablet {
    padding-right: var(--s3);
  }
}
@media only screen and (min-width: 575px) {
  .pad-right-300-phablet {
    padding-right: var(--s3);
  }
}
@media only screen and (min-width: 480px) {
  .pad-right-300-mobile {
    padding-right: var(--s3);
  }
}
@media only screen and (min-width: 375px) {
  .pad-right-300-small-mobile {
    padding-right: var(--s3);
  }
}

.gap-top-300 {
  margin-top: var(--s3);
}
@media only screen and (max-width: 480px) {
  .gap-top-300 {
    margin-top: var(--s2);
  }
}

.gap-bottom-300 {
  margin-bottom: var(--s3);
}

.grid-gap-300 {
  grid-gap: var(--s3);
}
@media only screen and (max-width: 767px) {
  .grid-gap-300 {
    grid-gap: var(--s2);
    grid-row-gap: var(--s3);
  }
}
@media only screen and (max-width: 480px) {
  .grid-gap-300 {
    grid-gap: var(--s1);
    grid-row-gap: var(--s3);
  }
}

.flex-gap-300 {
  gap: var(--s3);
}

/*----------------------------------------
  400 utility classes
----------------------------------------*/
.pad-400 {
  padding-top: var(--s4);
  padding-bottom: var(--s4);
  padding-left: var(--s4);
  padding-right: var(--s4);
}
@media only screen and (min-width: 1500px) {
  .pad-400-extra-large {
    padding-top: var(--s4);
    padding-bottom: var(--s4);
    padding-left: var(--s4);
    padding-right: var(--s4);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-400-large {
    padding-top: var(--s4);
    padding-bottom: var(--s4);
    padding-left: var(--s4);
    padding-right: var(--s4);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-400-medium-large {
    padding-top: var(--s4);
    padding-bottom: var(--s4);
    padding-left: var(--s4);
    padding-right: var(--s4);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-400-medium {
    padding-top: var(--s4);
    padding-bottom: var(--s4);
    padding-left: var(--s4);
    padding-right: var(--s4);
  }
}
@media only screen and (min-width: 920px) {
  .pad-400-large-tablet {
    padding-top: var(--s4);
    padding-bottom: var(--s4);
    padding-left: var(--s4);
    padding-right: var(--s4);
  }
}
@media only screen and (min-width: 767px) {
  .pad-400-tablet {
    padding-top: var(--s4);
    padding-bottom: var(--s4);
    padding-left: var(--s4);
    padding-right: var(--s4);
  }
}
@media only screen and (min-width: 575px) {
  .pad-400-phablet {
    padding-top: var(--s4);
    padding-bottom: var(--s4);
    padding-left: var(--s4);
    padding-right: var(--s4);
  }
}
@media only screen and (min-width: 480px) {
  .pad-400-mobile {
    padding-top: var(--s4);
    padding-bottom: var(--s4);
    padding-left: var(--s4);
    padding-right: var(--s4);
  }
}
@media only screen and (min-width: 375px) {
  .pad-400-small-mobile {
    padding-top: var(--s4);
    padding-bottom: var(--s4);
    padding-left: var(--s4);
    padding-right: var(--s4);
  }
}

.pad-top-400:nth-child(1n) {
  padding-top: var(--s4);
}
@media only screen and (min-width: 1500px) {
  .pad-top-400-extra-large {
    padding-top: var(--s4);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-top-400-large {
    padding-top: var(--s4);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-top-400-medium-large {
    padding-top: var(--s4);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-top-400-medium {
    padding-top: var(--s4);
  }
}
@media only screen and (min-width: 920px) {
  .pad-top-400-large-tablet {
    padding-top: var(--s4);
  }
}
@media only screen and (min-width: 767px) {
  .pad-top-400-tablet {
    padding-top: var(--s4);
  }
}
@media only screen and (min-width: 575px) {
  .pad-top-400-phablet {
    padding-top: var(--s4);
  }
}
@media only screen and (min-width: 480px) {
  .pad-top-400-mobile {
    padding-top: var(--s4);
  }
}
@media only screen and (min-width: 375px) {
  .pad-top-400-small-mobile {
    padding-top: var(--s4);
  }
}

.pad-bottom-400:nth-child(1n) {
  padding-bottom: var(--s4);
}
@media only screen and (max-width: 920px) {
  .pad-bottom-400:nth-child(1n) {
    padding-bottom: var(--s3);
  }
}
@media only screen and (max-width: 767px) {
  .pad-bottom-400:nth-child(1n) {
    padding-bottom: var(--s2);
  }
}
@media only screen and (max-width: 480px) {
  .pad-bottom-400:nth-child(1n) {
    padding-bottom: var(--s2);
  }
}
@media only screen and (min-width: 1500px) {
  .pad-bottom-400-extra-large {
    padding-bottom: var(--s4);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-bottom-400-large {
    padding-bottom: var(--s4);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-bottom-400-medium-large {
    padding-bottom: var(--s4);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-bottom-400-medium {
    padding-bottom: var(--s4);
  }
}
@media only screen and (min-width: 920px) {
  .pad-bottom-400-large-tablet {
    padding-bottom: var(--s4);
  }
}
@media only screen and (min-width: 767px) {
  .pad-bottom-400-tablet {
    padding-bottom: var(--s4);
  }
}
@media only screen and (min-width: 575px) {
  .pad-bottom-400-phablet {
    padding-bottom: var(--s4);
  }
}
@media only screen and (min-width: 480px) {
  .pad-bottom-400-mobile {
    padding-bottom: var(--s4);
  }
}
@media only screen and (min-width: 375px) {
  .pad-bottom-400-small-mobile {
    padding-bottom: var(--s4);
  }
}

.pad-left-400:nth-child(1n) {
  padding-left: var(--s4);
}
@media only screen and (min-width: 1500px) {
  .pad-left-400-extra-large {
    padding-left: var(--s4);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-left-400-large {
    padding-left: var(--s4);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-left-400-medium-large {
    padding-left: var(--s4);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-left-400-medium {
    padding-left: var(--s4);
  }
}
@media only screen and (min-width: 920px) {
  .pad-left-400-large-tablet {
    padding-left: var(--s4);
  }
}
@media only screen and (min-width: 767px) {
  .pad-left-400-tablet {
    padding-left: var(--s4);
  }
}
@media only screen and (min-width: 575px) {
  .pad-left-400-phablet {
    padding-left: var(--s4);
  }
}
@media only screen and (min-width: 480px) {
  .pad-left-400-mobile {
    padding-left: var(--s4);
  }
}
@media only screen and (min-width: 375px) {
  .pad-left-400-small-mobile {
    padding-left: var(--s4);
  }
}

.pad-right-400:nth-child(1n) {
  padding-right: var(--s4);
}
@media only screen and (min-width: 1500px) {
  .pad-right-400-extra-large {
    padding-right: var(--s4);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-right-400-large {
    padding-right: var(--s4);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-right-400-medium-large {
    padding-right: var(--s4);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-right-400-medium {
    padding-right: var(--s4);
  }
}
@media only screen and (min-width: 920px) {
  .pad-right-400-large-tablet {
    padding-right: var(--s4);
  }
}
@media only screen and (min-width: 767px) {
  .pad-right-400-tablet {
    padding-right: var(--s4);
  }
}
@media only screen and (min-width: 575px) {
  .pad-right-400-phablet {
    padding-right: var(--s4);
  }
}
@media only screen and (min-width: 480px) {
  .pad-right-400-mobile {
    padding-right: var(--s4);
  }
}
@media only screen and (min-width: 375px) {
  .pad-right-400-small-mobile {
    padding-right: var(--s4);
  }
}

.gap-top-400 {
  margin-top: var(--s4);
}
@media only screen and (max-width: 575px) {
  .gap-top-400 {
    margin-top: var(--s3);
  }
}
@media only screen and (max-width: 480px) {
  .gap-top-400 {
    margin-top: var(--s2);
  }
}

.gap-bottom-400 {
  margin-bottom: var(--s4);
}

.grid-gap-400 {
  grid-gap: var(--s4);
}
@media only screen and (max-width: 920px) {
  .grid-gap-400 {
    grid-gap: var(--s3);
    grid-row-gap: var(--s4);
  }
}
@media only screen and (max-width: 767px) {
  .grid-gap-400 {
    grid-gap: var(--s2);
    grid-row-gap: var(--s3);
  }
}
@media only screen and (max-width: 480px) {
  .grid-gap-400 {
    grid-gap: var(--s1);
    grid-row-gap: var(--s3);
  }
}

.flex-gap-400 {
  gap: var(--s4);
}

/*----------------------------------------
  500 utility classes
----------------------------------------*/
.pad-500 {
  padding-top: var(--s5);
  padding-bottom: var(--s5);
  padding-left: var(--s5);
  padding-right: var(--s5);
}
@media only screen and (min-width: 1500px) {
  .pad-500-extra-large {
    padding-top: var(--s5);
    padding-bottom: var(--s5);
    padding-left: var(--s5);
    padding-right: var(--s5);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-500-large {
    padding-top: var(--s5);
    padding-bottom: var(--s5);
    padding-left: var(--s5);
    padding-right: var(--s5);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-500-medium-large {
    padding-top: var(--s5);
    padding-bottom: var(--s5);
    padding-left: var(--s5);
    padding-right: var(--s5);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-500-medium {
    padding-top: var(--s5);
    padding-bottom: var(--s5);
    padding-left: var(--s5);
    padding-right: var(--s5);
  }
}
@media only screen and (min-width: 920px) {
  .pad-500-large-tablet {
    padding-top: var(--s5);
    padding-bottom: var(--s5);
    padding-left: var(--s5);
    padding-right: var(--s5);
  }
}
@media only screen and (min-width: 767px) {
  .pad-500-tablet {
    padding-top: var(--s5);
    padding-bottom: var(--s5);
    padding-left: var(--s5);
    padding-right: var(--s5);
  }
}
@media only screen and (min-width: 575px) {
  .pad-500-phablet {
    padding-top: var(--s5);
    padding-bottom: var(--s5);
    padding-left: var(--s5);
    padding-right: var(--s5);
  }
}
@media only screen and (min-width: 480px) {
  .pad-500-mobile {
    padding-top: var(--s5);
    padding-bottom: var(--s5);
    padding-left: var(--s5);
    padding-right: var(--s5);
  }
}
@media only screen and (min-width: 375px) {
  .pad-500-small-mobile {
    padding-top: var(--s5);
    padding-bottom: var(--s5);
    padding-left: var(--s5);
    padding-right: var(--s5);
  }
}

.pad-top-500:nth-child(1n) {
  padding-top: var(--s5);
}
@media only screen and (min-width: 1500px) {
  .pad-top-500-extra-large {
    padding-top: var(--s5);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-top-500-large {
    padding-top: var(--s5);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-top-500-medium-large {
    padding-top: var(--s5);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-top-500-medium {
    padding-top: var(--s5);
  }
}
@media only screen and (min-width: 920px) {
  .pad-top-500-large-tablet {
    padding-top: var(--s5);
  }
}
@media only screen and (min-width: 767px) {
  .pad-top-500-tablet {
    padding-top: var(--s5);
  }
}
@media only screen and (min-width: 575px) {
  .pad-top-500-phablet {
    padding-top: var(--s5);
  }
}
@media only screen and (min-width: 480px) {
  .pad-top-500-mobile {
    padding-top: var(--s5);
  }
}
@media only screen and (min-width: 375px) {
  .pad-top-500-small-mobile {
    padding-top: var(--s5);
  }
}

.pad-bottom-500:nth-child(1n) {
  padding-bottom: var(--s5);
}
@media only screen and (max-width: 920px) {
  .pad-bottom-500:nth-child(1n) {
    padding-bottom: var(--s4);
  }
}
@media only screen and (max-width: 767px) {
  .pad-bottom-500:nth-child(1n) {
    padding-bottom: var(--s3);
  }
}
@media only screen and (max-width: 480px) {
  .pad-bottom-500:nth-child(1n) {
    padding-bottom: var(--s2);
  }
}
@media only screen and (min-width: 1500px) {
  .pad-bottom-500-extra-large {
    padding-bottom: var(--s5);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-bottom-500-large {
    padding-bottom: var(--s5);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-bottom-500-medium-large {
    padding-bottom: var(--s5);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-bottom-500-medium {
    padding-bottom: var(--s5);
  }
}
@media only screen and (min-width: 920px) {
  .pad-bottom-500-large-tablet {
    padding-bottom: var(--s5);
  }
}
@media only screen and (min-width: 767px) {
  .pad-bottom-500-tablet {
    padding-bottom: var(--s5);
  }
}
@media only screen and (min-width: 575px) {
  .pad-bottom-500-phablet {
    padding-bottom: var(--s5);
  }
}
@media only screen and (min-width: 480px) {
  .pad-bottom-500-mobile {
    padding-bottom: var(--s5);
  }
}
@media only screen and (min-width: 375px) {
  .pad-bottom-500-small-mobile {
    padding-bottom: var(--s5);
  }
}

.pad-left-500:nth-child(1n) {
  padding-left: var(--s5);
}
@media only screen and (min-width: 1500px) {
  .pad-left-500-extra-large {
    padding-left: var(--s5);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-left-500-large {
    padding-left: var(--s5);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-left-500-medium-large {
    padding-left: var(--s5);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-left-500-medium {
    padding-left: var(--s5);
  }
}
@media only screen and (min-width: 920px) {
  .pad-left-500-large-tablet {
    padding-left: var(--s5);
  }
}
@media only screen and (min-width: 767px) {
  .pad-left-500-tablet {
    padding-left: var(--s5);
  }
}
@media only screen and (min-width: 575px) {
  .pad-left-500-phablet {
    padding-left: var(--s5);
  }
}
@media only screen and (min-width: 480px) {
  .pad-left-500-mobile {
    padding-left: var(--s5);
  }
}
@media only screen and (min-width: 375px) {
  .pad-left-500-small-mobile {
    padding-left: var(--s5);
  }
}

.pad-right-500:nth-child(1n) {
  padding-right: var(--s5);
}
@media only screen and (min-width: 1500px) {
  .pad-right-500-extra-large {
    padding-right: var(--s5);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-right-500-large {
    padding-right: var(--s5);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-right-500-medium-large {
    padding-right: var(--s5);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-right-500-medium {
    padding-right: var(--s5);
  }
}
@media only screen and (min-width: 920px) {
  .pad-right-500-large-tablet {
    padding-right: var(--s5);
  }
}
@media only screen and (min-width: 767px) {
  .pad-right-500-tablet {
    padding-right: var(--s5);
  }
}
@media only screen and (min-width: 575px) {
  .pad-right-500-phablet {
    padding-right: var(--s5);
  }
}
@media only screen and (min-width: 480px) {
  .pad-right-500-mobile {
    padding-right: var(--s5);
  }
}
@media only screen and (min-width: 375px) {
  .pad-right-500-small-mobile {
    padding-right: var(--s5);
  }
}

.gap-top-500 {
  margin-top: var(--s5);
}
@media only screen and (max-width: 767px) {
  .gap-top-500 {
    margin-top: var(--s4);
  }
}
@media only screen and (max-width: 575px) {
  .gap-top-500 {
    margin-top: var(--s3);
  }
}

.gap-bottom-500 {
  margin-bottom: var(--s5);
}

.grid-gap-500 {
  grid-gap: var(--s5);
}
@media only screen and (max-width: 920px) {
  .grid-gap-500 {
    grid-gap: var(--s4);
    grid-row-gap: var(--s5);
  }
}
@media only screen and (max-width: 767px) {
  .grid-gap-500 {
    grid-gap: var(--s3);
    grid-row-gap: var(--s4);
  }
}
@media only screen and (max-width: 480px) {
  .grid-gap-500 {
    grid-gap: var(--s1);
    grid-row-gap: var(--s4);
  }
}

.flex-gap-500 {
  gap: var(--s5);
}

/*----------------------------------------
  600 utility classes
----------------------------------------*/
.pad-600 {
  padding-top: var(--s6);
  padding-bottom: var(--s6);
  padding-left: var(--s6);
  padding-right: var(--s6);
}
@media only screen and (min-width: 1500px) {
  .pad-600-extra-large {
    padding-top: var(--s6);
    padding-bottom: var(--s6);
    padding-left: var(--s6);
    padding-right: var(--s6);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-600-large {
    padding-top: var(--s6);
    padding-bottom: var(--s6);
    padding-left: var(--s6);
    padding-right: var(--s6);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-600-medium-large {
    padding-top: var(--s6);
    padding-bottom: var(--s6);
    padding-left: var(--s6);
    padding-right: var(--s6);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-600-medium {
    padding-top: var(--s6);
    padding-bottom: var(--s6);
    padding-left: var(--s6);
    padding-right: var(--s6);
  }
}
@media only screen and (min-width: 920px) {
  .pad-600-large-tablet {
    padding-top: var(--s6);
    padding-bottom: var(--s6);
    padding-left: var(--s6);
    padding-right: var(--s6);
  }
}
@media only screen and (min-width: 767px) {
  .pad-600-tablet {
    padding-top: var(--s6);
    padding-bottom: var(--s6);
    padding-left: var(--s6);
    padding-right: var(--s6);
  }
}
@media only screen and (min-width: 575px) {
  .pad-600-phablet {
    padding-top: var(--s6);
    padding-bottom: var(--s6);
    padding-left: var(--s6);
    padding-right: var(--s6);
  }
}
@media only screen and (min-width: 480px) {
  .pad-600-mobile {
    padding-top: var(--s6);
    padding-bottom: var(--s6);
    padding-left: var(--s6);
    padding-right: var(--s6);
  }
}
@media only screen and (min-width: 375px) {
  .pad-600-small-mobile {
    padding-top: var(--s6);
    padding-bottom: var(--s6);
    padding-left: var(--s6);
    padding-right: var(--s6);
  }
}

.pad-top-600:nth-child(1n) {
  padding-top: var(--s6);
}
@media only screen and (min-width: 1500px) {
  .pad-top-600-extra-large {
    padding-top: var(--s6);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-top-600-large {
    padding-top: var(--s6);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-top-600-medium-large {
    padding-top: var(--s6);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-top-600-medium {
    padding-top: var(--s6);
  }
}
@media only screen and (min-width: 920px) {
  .pad-top-600-large-tablet {
    padding-top: var(--s6);
  }
}
@media only screen and (min-width: 767px) {
  .pad-top-600-tablet {
    padding-top: var(--s6);
  }
}
@media only screen and (min-width: 575px) {
  .pad-top-600-phablet {
    padding-top: var(--s6);
  }
}
@media only screen and (min-width: 480px) {
  .pad-top-600-mobile {
    padding-top: var(--s6);
  }
}
@media only screen and (min-width: 375px) {
  .pad-top-600-small-mobile {
    padding-top: var(--s6);
  }
}

.pad-bottom-600:nth-child(1n) {
  padding-bottom: var(--s6);
}
@media only screen and (max-width: 920px) {
  .pad-bottom-600:nth-child(1n) {
    padding-bottom: var(--s5);
  }
}
@media only screen and (max-width: 767px) {
  .pad-bottom-600:nth-child(1n) {
    padding-bottom: var(--s4);
  }
}
@media only screen and (max-width: 480px) {
  .pad-bottom-600:nth-child(1n) {
    padding-bottom: var(--s2);
  }
}
@media only screen and (min-width: 1500px) {
  .pad-bottom-600-extra-large {
    padding-bottom: var(--s6);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-bottom-600-large {
    padding-bottom: var(--s6);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-bottom-600-medium-large {
    padding-bottom: var(--s6);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-bottom-600-medium {
    padding-bottom: var(--s6);
  }
}
@media only screen and (min-width: 920px) {
  .pad-bottom-600-large-tablet {
    padding-bottom: var(--s6);
  }
}
@media only screen and (min-width: 767px) {
  .pad-bottom-600-tablet {
    padding-bottom: var(--s6);
  }
}
@media only screen and (min-width: 575px) {
  .pad-bottom-600-phablet {
    padding-bottom: var(--s6);
  }
}
@media only screen and (min-width: 480px) {
  .pad-bottom-600-mobile {
    padding-bottom: var(--s6);
  }
}
@media only screen and (min-width: 375px) {
  .pad-bottom-600-small-mobile {
    padding-bottom: var(--s6);
  }
}

.pad-left-600:nth-child(1n) {
  padding-left: var(--s6);
}
@media only screen and (min-width: 1500px) {
  .pad-left-600-extra-large {
    padding-left: var(--s6);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-left-600-large {
    padding-left: var(--s6);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-left-600-medium-large {
    padding-left: var(--s6);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-left-600-medium {
    padding-left: var(--s6);
  }
}
@media only screen and (min-width: 920px) {
  .pad-left-600-large-tablet {
    padding-left: var(--s6);
  }
}
@media only screen and (min-width: 767px) {
  .pad-left-600-tablet {
    padding-left: var(--s6);
  }
}
@media only screen and (min-width: 575px) {
  .pad-left-600-phablet {
    padding-left: var(--s6);
  }
}
@media only screen and (min-width: 480px) {
  .pad-left-600-mobile {
    padding-left: var(--s6);
  }
}
@media only screen and (min-width: 375px) {
  .pad-left-600-small-mobile {
    padding-left: var(--s6);
  }
}

.pad-right-600:nth-child(1n) {
  padding-right: var(--s6);
}
@media only screen and (min-width: 1500px) {
  .pad-right-600-extra-large {
    padding-right: var(--s6);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-right-600-large {
    padding-right: var(--s6);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-right-600-medium-large {
    padding-right: var(--s6);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-right-600-medium {
    padding-right: var(--s6);
  }
}
@media only screen and (min-width: 920px) {
  .pad-right-600-large-tablet {
    padding-right: var(--s6);
  }
}
@media only screen and (min-width: 767px) {
  .pad-right-600-tablet {
    padding-right: var(--s6);
  }
}
@media only screen and (min-width: 575px) {
  .pad-right-600-phablet {
    padding-right: var(--s6);
  }
}
@media only screen and (min-width: 480px) {
  .pad-right-600-mobile {
    padding-right: var(--s6);
  }
}
@media only screen and (min-width: 375px) {
  .pad-right-600-small-mobile {
    padding-right: var(--s6);
  }
}

.gap-top-600 {
  margin-top: var(--s6);
}
@media only screen and (max-width: 767px) {
  .gap-top-600 {
    margin-top: var(--s5);
  }
}
@media only screen and (max-width: 575px) {
  .gap-top-600 {
    margin-top: var(--s4);
  }
}

.gap-bottom-600 {
  margin-bottom: var(--s6);
}

.grid-gap-600 {
  grid-gap: var(--s6);
}
@media only screen and (max-width: 920px) {
  .grid-gap-600 {
    grid-gap: var(--s5);
    grid-row-gap: var(--s6);
  }
}
@media only screen and (max-width: 767px) {
  .grid-gap-600 {
    grid-gap: var(--s4);
    grid-row-gap: var(--s6);
  }
}
@media only screen and (max-width: 480px) {
  .grid-gap-600 {
    grid-gap: var(--s2);
    grid-row-gap: var(--s5);
  }
}

.flex-gap-600 {
  gap: var(--s6);
}

/*----------------------------------------
  700 utility classes
----------------------------------------*/
.pad-700 {
  padding-top: var(--s7);
  padding-bottom: var(--s7);
  padding-left: var(--s7);
  padding-right: var(--s7);
}
@media only screen and (min-width: 1500px) {
  .pad-700-extra-large {
    padding-top: var(--s7);
    padding-bottom: var(--s7);
    padding-left: var(--s7);
    padding-right: var(--s7);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-700-large {
    padding-top: var(--s7);
    padding-bottom: var(--s7);
    padding-left: var(--s7);
    padding-right: var(--s7);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-700-medium-large {
    padding-top: var(--s7);
    padding-bottom: var(--s7);
    padding-left: var(--s7);
    padding-right: var(--s7);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-700-medium {
    padding-top: var(--s7);
    padding-bottom: var(--s7);
    padding-left: var(--s7);
    padding-right: var(--s7);
  }
}
@media only screen and (min-width: 920px) {
  .pad-700-large-tablet {
    padding-top: var(--s7);
    padding-bottom: var(--s7);
    padding-left: var(--s7);
    padding-right: var(--s7);
  }
}
@media only screen and (min-width: 767px) {
  .pad-700-tablet {
    padding-top: var(--s7);
    padding-bottom: var(--s7);
    padding-left: var(--s7);
    padding-right: var(--s7);
  }
}
@media only screen and (min-width: 575px) {
  .pad-700-phablet {
    padding-top: var(--s7);
    padding-bottom: var(--s7);
    padding-left: var(--s7);
    padding-right: var(--s7);
  }
}
@media only screen and (min-width: 480px) {
  .pad-700-mobile {
    padding-top: var(--s7);
    padding-bottom: var(--s7);
    padding-left: var(--s7);
    padding-right: var(--s7);
  }
}
@media only screen and (min-width: 375px) {
  .pad-700-small-mobile {
    padding-top: var(--s7);
    padding-bottom: var(--s7);
    padding-left: var(--s7);
    padding-right: var(--s7);
  }
}

.pad-top-700:nth-child(1n) {
  padding-top: var(--s7);
}
@media only screen and (max-width: 920px) {
  .pad-top-700:nth-child(1n) {
    padding-top: var(--s6);
  }
}
@media only screen and (max-width: 767px) {
  .pad-top-700:nth-child(1n) {
    padding-top: var(--s5);
  }
}
@media only screen and (max-width: 480px) {
  .pad-top-700:nth-child(1n) {
    padding-top: var(--s3);
  }
}
@media only screen and (min-width: 1500px) {
  .pad-top-700-extra-large {
    padding-top: var(--s7);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-top-700-large {
    padding-top: var(--s7);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-top-700-medium-large {
    padding-top: var(--s7);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-top-700-medium {
    padding-top: var(--s7);
  }
}
@media only screen and (min-width: 920px) {
  .pad-top-700-large-tablet {
    padding-top: var(--s7);
  }
}
@media only screen and (min-width: 767px) {
  .pad-top-700-tablet {
    padding-top: var(--s7);
  }
}
@media only screen and (min-width: 575px) {
  .pad-top-700-phablet {
    padding-top: var(--s7);
  }
}
@media only screen and (min-width: 480px) {
  .pad-top-700-mobile {
    padding-top: var(--s7);
  }
}
@media only screen and (min-width: 375px) {
  .pad-top-700-small-mobile {
    padding-top: var(--s7);
  }
}

.pad-bottom-700:nth-child(1n) {
  padding-bottom: var(--s7);
}
@media only screen and (max-width: 920px) {
  .pad-bottom-700:nth-child(1n) {
    padding-bottom: var(--s6);
  }
}
@media only screen and (max-width: 767px) {
  .pad-bottom-700:nth-child(1n) {
    padding-bottom: var(--s5);
  }
}
@media only screen and (max-width: 480px) {
  .pad-bottom-700:nth-child(1n) {
    padding-bottom: var(--s3);
  }
}
@media only screen and (min-width: 1500px) {
  .pad-bottom-700-extra-large {
    padding-bottom: var(--s7);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-bottom-700-large {
    padding-bottom: var(--s7);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-bottom-700-medium-large {
    padding-bottom: var(--s7);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-bottom-700-medium {
    padding-bottom: var(--s7);
  }
}
@media only screen and (min-width: 920px) {
  .pad-bottom-700-large-tablet {
    padding-bottom: var(--s7);
  }
}
@media only screen and (min-width: 767px) {
  .pad-bottom-700-tablet {
    padding-bottom: var(--s7);
  }
}
@media only screen and (min-width: 575px) {
  .pad-bottom-700-phablet {
    padding-bottom: var(--s7);
  }
}
@media only screen and (min-width: 480px) {
  .pad-bottom-700-mobile {
    padding-bottom: var(--s7);
  }
}
@media only screen and (min-width: 375px) {
  .pad-bottom-700-small-mobile {
    padding-bottom: var(--s7);
  }
}

.pad-left-700:nth-child(1n) {
  padding-left: var(--s7);
}
@media only screen and (min-width: 1500px) {
  .pad-left-700-extra-large {
    padding-left: var(--s7);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-left-700-large {
    padding-left: var(--s7);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-left-700-medium-large {
    padding-left: var(--s7);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-left-700-medium {
    padding-left: var(--s7);
  }
}
@media only screen and (min-width: 920px) {
  .pad-left-700-large-tablet {
    padding-left: var(--s7);
  }
}
@media only screen and (min-width: 767px) {
  .pad-left-700-tablet {
    padding-left: var(--s7);
  }
}
@media only screen and (min-width: 575px) {
  .pad-left-700-phablet {
    padding-left: var(--s7);
  }
}
@media only screen and (min-width: 480px) {
  .pad-left-700-mobile {
    padding-left: var(--s7);
  }
}
@media only screen and (min-width: 375px) {
  .pad-left-700-small-mobile {
    padding-left: var(--s7);
  }
}

.pad-right-700:nth-child(1n) {
  padding-right: var(--s7);
}
@media only screen and (min-width: 1500px) {
  .pad-right-700-extra-large {
    padding-right: var(--s7);
  }
}
@media only screen and (min-width: 1300px) {
  .pad-right-700-large {
    padding-right: var(--s7);
  }
}
@media only screen and (min-width: 1100px) {
  .pad-right-700-medium-large {
    padding-right: var(--s7);
  }
}
@media only screen and (min-width: 1000px) {
  .pad-right-700-medium {
    padding-right: var(--s7);
  }
}
@media only screen and (min-width: 920px) {
  .pad-right-700-large-tablet {
    padding-right: var(--s7);
  }
}
@media only screen and (min-width: 767px) {
  .pad-right-700-tablet {
    padding-right: var(--s7);
  }
}
@media only screen and (min-width: 575px) {
  .pad-right-700-phablet {
    padding-right: var(--s7);
  }
}
@media only screen and (min-width: 480px) {
  .pad-right-700-mobile {
    padding-right: var(--s7);
  }
}
@media only screen and (min-width: 375px) {
  .pad-right-700-small-mobile {
    padding-right: var(--s7);
  }
}

.gap-top-700 {
  margin-top: var(--s7);
}
@media only screen and (max-width: 920px) {
  .gap-top-700 {
    margin-top: var(--s6);
  }
}
@media only screen and (max-width: 767px) {
  .gap-top-700 {
    margin-top: var(--s5);
  }
}

.gap-bottom-700 {
  margin-bottom: var(--s7);
}

.grid-gap-700 {
  grid-gap: var(--s7);
}
@media only screen and (max-width: 920px) {
  .grid-gap-700 {
    grid-gap: var(--s6);
    grid-row-gap: var(--s6);
  }
}
@media only screen and (max-width: 767px) {
  .grid-gap-700 {
    grid-gap: var(--s4);
    grid-row-gap: var(--s6);
  }
}
@media only screen and (max-width: 480px) {
  .grid-gap-700 {
    grid-gap: var(--s2);
    grid-row-gap: var(--s5);
  }
}

.flex-gap-700 {
  gap: var(--s7);
}