:root{
  --wide: 70rem;
  --narrow:40rem
}
.listing{
  padding: 0 0 var(--s6) 0;
  /* CARDS START */

  #listings-cards{
    background:var(--base-background);
    position:relative;
    padding-bottom:var(--s6);
  }
  .page-path{
    display:none;
  }
  #cards {
    max-width: var(--wide);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding-top:var(--s6);
    padding-left: var(--s-2);
    padding-right: var(--s-2);
    min-height:600px;
    /*margin-bottom: var(--s6);*/
  }
  @media only screen and (max-width: 920px) {
    #cards{
      padding-top:var(--s5);
      padding-bottom:var(--s5);
    }
  }
  @media only screen and (max-width: 767px) {
    #cards{
      padding-top:var(--s2);
      padding-bottom:var(--s2);
    }
  }
  #cards * {
    box-sizing: border-box;
  }
  #cards .card {
    position: relative;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(-webkit-min-content, -webkit-max-content);
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    //max-width: var(--narrow);
    width: 60%;
    margin:0 auto;
    grid-column-gap: var(--s5);
  }

  #cards .card:nth-child(1) {
    //max-width: unset
  }
  @media only screen and (max-width: 767px) {
    #cards .card {
      max-width: unset;
      grid-column-gap: var(--s3);
    }
  }
  @media only screen and (max-width: 575px) {
    #cards .card {
      grid-template-columns: 1fr;
      grid-column-gap: var(--s0);
    }
  }
  #cards .card * {
    /*color: var(--light-main);*/
  }
  /*** CARD IMAGE WRAPPER ** START ***/
  @supports (aspect-ratio: auto) {
    #cards .card .image-wrapper {
      aspect-ratio: 16/ 9;
    }
  }
  @supports not (aspect-ratio: auto) {
    #cards .card .image-wrapper{
      padding-bottom: 56.25%;
    }
  }
  #cards .card .image-wrapper {
    width: 100%;
    //align-self: stretch;
    align-self: start;
    position: relative;
    overflow:hidden;
  }
  #cards .card .image-wrapper:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    transition: all .5s;
    mix-blend-mode: multiply;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
  }
  /*** CARD IMAGE  ** START ***/
  #cards .card .image {
    position:relative;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    transition: all .5s;
  }
  /*** CARD IMAGE  ** END ***/
  /*** CARD IMAGE WRAPPER ** END ***/

  /*** CARD LINK  ** START ***/
  #cards a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:40;
  }
  #cards a:hover + .image-wrapper:nth-child(1n+1):before {
    background-color: rgba(0, 0, 0, 0);
    transition: all .5s;
  }
  #cards a:hover + .image-wrapper .image {
    transform: scale(1.05);
    transition: all .5s;
  }
  /*** CARD LINK ** END ***/

  /*** CARD TEXT ** START ***/
  #cards  .card .inner-card {
    width: 100%;
    line-height: 1;
    max-width: 300px;
  }
  @media only screen and (max-width: 575px) {
    #cards  .card .inner-card {
      padding: var(--s3) 0 0 0;
    }
  }
  @media only screen and (max-width: 480px) {
    #cards  .card .inner-card {
      padding: var(--s2) 0 0 0;
    }
  }
  /*** CARD HEADING ** START ***/
  #cards .card .inner-card h3 {}
  #cards .card .inner-card h3 {
    color: var(--dark-main);
    line-height:var(--heading-line-height);
    font-size: clamp(var(--f1), 4vw, var(--f2))!important; /* small */

    //font-size: clamp(var(--f3), 4vw, var(--f5))!important; /* Large */
    padding: 0;
    text-transform:uppercase;
    font-weight:800;
    text-align:left;
    //max-width: 17ch;
    /*line-height: 1;*/
    margin-bottom: 0;
    margin-top: 0;
  }
  #cards .card .inner-card p:not(.sub-text){
    color: var(--dark-main);
    font-size: clamp(var(--f0), 2vw, var(--f1));
  }
  html.safari-12 #cards .card .inner-card h3 , html.safari-13 #cards .card .inner-card h3  {
    font-size: min(max(var(--f3), 4vw), var(--f5))!important;
  }
  @media only screen and (min-width: 767px) {
    #cards .card:nth-child(n+2) .inner-card h3  {
      //font-size: clamp(var(--f1), 4vw, var(--f2))!important; /* small */
      letter-spacing:-1px;
      line-height: 1;
      max-width: unset;
    }
    html.safari-12 #cards .card .inner-card h3 , html.safari-13 #cards .card .inner-card h3  {
      font-size: min(max(var(--f1), 4vw), var(--f2))!important;
    }
    #cards .card:nth-child(n+2) .inner-card p:not(.sub-text){
      font-size: 1rem;
    }
  }
  /*** CARD HEADING ** END ***/
  /*** CARD SUBTEXT ** START ***/
  #cards .card .inner-card .sub-text {
    font-weight: 300;
    line-height: 1.1;
    /*font-size: 0.5rem;*/
    letter-spacing:2px;
    color: var(--dark-main);
  }
  #cards .card .inner-card .sub-text.date {
    text-transform:uppercase;
  }
  #cards .card .inner-card .sub-text.date sup {
    vertical-align: super;
    top: 0.3em;
  }
  /*** CARD SUBTEXT ** END ***/
  /*** CARD TEXT  ** END ***/

  /*** HR ** START ***/
  #cards .card hr{
    width:100%;
    background: var(--dark-main);
    /*flex: 1 1 100%;*/
    grid-column: 1/-1;
    opacity: 0.9;
    margin:0 auto;
    margin-top:var(--s3);
    margin-bottom:var(--s3);
    max-width: var(--narrow);
  }

  #cards .card:nth-child(1) hr {
    order:2;
    max-width:unset;
  }
  @media only screen and (min-width: 920px) {
    #cards .card:nth-child(1) hr{
      margin-top:var(--s6);
      margin-bottom:var(--s6);
    }
  }
  @media only screen and (max-width: 767px) {
    #cards .card hr{
      max-width: unset
    }
  }
  #cards .card:nth-child(2) hr {
    display:none;
  }
  /*** HR ** END ***/

  @keyframes placeHolderShimmer{
    0%{
      background-position: -468px 0
    }
    100%{
      background-position: 468px 0
    }
  }
  #cards .loadingAnimation{
    content:'';
    width:100%;
    height:100%;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 1000px 104px;
    position: relative;
    overflow: hidden;
  }
  /*** LOAD MORE BUTTON ***/

  .card-wrapper .button-wrap{
    display:grid;
    opacity:1;
    justify-content: start;
    padding-top:0;
  }

  .card-wrapper .button-wrap .button{
    min-width: 17em;
    padding: 0.4rem;
    margin: 0;
    font-size: 12px;
  }

  @media only screen and (min-width: 575px) {
    .card-wrapper .button-wrap {
      padding-top:var(--s6);
      max-width: var(--narrow);
      display: grid;
      grid-auto-flow: dense;
      grid-auto-rows: minmax(-webkit-min-content, -webkit-max-content);
      grid-auto-rows: minmax(min-content, max-content);
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-column-gap: var(--s5);
    }
    .card-wrapper .button-wrap .button{

      grid-column:2;
      justify-self: start;
    }
  }
  @media only screen and (max-width: 767px) {
    .card-wrapper .button-wrap {
      text-align:left;
    }
    .card-wrapper .button-wrap .button{
      width:auto;

    }
  }

  /* NAVIGTION */
  #mainmenu ul li span{
    color:var(--light-main);
  }

  /* VIDEO */

  html{
    --plyr-video-controls-background: transparent;
    --plyr-video-control-background-hover: transparent;
    --plyr-video-control-color: transparent;
    --plyr-video-control-color-hover: transparent;
    --plyr-range-thumb-height: 0px;
    --plyr-range-track-height: 2px;
    --plyr-range-fill-background: transparent;
    --plyr-video-range-track-background: transparent;
    --plyr-control-icon-size:18px;


    /*--plyr-video-controls-background: transparent;*/
    /*--plyr-video-control-background-hover: transparent;*/
    /*--plyr-video-control-color: transparent;*/
    /*--plyr-video-control-color-hover: transparent;*/
    /*--plyr-range-thumb-height: 0px;*/
    /*--plyr-range-track-height: 2px;*/
    /*--plyr-range-fill-background: transparent;*/
    /*--plyr-video-range-track-background: transparent;	*/
  }
  .plyr__video-wrapper{
    aspect-ratio: 16 / 10!important;
  }
  /* use grid to move fullscreen to end but retain first spot in DOM to allow sibling selectors to function on fullscreen click*/
  .card-wrapper .plyr button[data-plyr="fullscreen"]{
    grid-column: -1;
    grid-row: 1;

  }
  .card-wrapper .plyr button[data-plyr="fullscreen"], .card-wrapper .plyr button[data-plyr="play"]{
    color:var(--light-main);
    --plyr-control-icon-size:40px;
    padding: 1rem;
  }
  /*.card-wrapper .plyr button[data-plyr="fullscreen"].plyr__control--pressed{*/
  /*    color:var(--light-main);*/
  /*    --plyr-video-control-color: var(--light-main);*/
  /*    --plyr-range-fill-background: var(--light-main);*/
  /*    --plyr-video-range-track-background: var(--base-grey);*/
  /*}*/
  /*.card-wrapper .plyr button[data-plyr="fullscreen"].plyr__control--pressed ~ .plyr__control{*/
  /*    color:var(--light-main);*/
  /*}*/
  /*.card-wrapper .plyr button[data-plyr="fullscreen"].plyr__control--pressed ~ .plyr__time{*/
  /*    color:var(--light-main);*/
  /*}*/

  .card-wrapper .pure-g, .card-wrapper .plyr {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    background: transparent;
  }
  .card-wrapper .plyr__controls {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
    grid-gap: var(--s1);
    margin: 0;
    padding: 0;
  }
  .card-wrapper .plyr__controls button {
    margin-bottom: 0;
    margin-right: 0;
  }
  .card-wrapper .plyr__controls .plyr__time {
    letter-spacing: 0;
  }
  .card-wrapper .plyr__controls .plyr__tooltip {
    letter-spacing: 0;
  }
  .card-wrapper .preview-panel{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    pointer-events: none;
  }

}
