/*----------------------------------------
    # Colour Utility /_utilities/_generator/_colour-utility.scss
----------------------------------------*/
@use "../../../_abstracts/colours";
@use '../../../_utilities/_mixins/media-query' as *;

@each $color, $shades in colours.$colors {
  /*----------------------------------------
    #{$color} utility classes
  ----------------------------------------*/
  @each $shade, $value in $shades {
    @if $shade == main {
      // Styles for background colours
      .bg-#{$color}-#{$shade} {
        background-color: var(--#{$color}-#{$shade});
        color: var(--#{$color}-invert);

        > *,
        .stack > *,
        blockquote {
          color: var(--#{$color}-invert);
        }

        a, p, h1, h2, h3, h4, h5, h6 {
          color: var(--#{$color}-invert);
        }
        .outline, &.outline, .outline > div > div{
          -webkit-text-stroke-color: var(--#{$color}-invert)!important;
          color: transparent!important;
          -webkit-text-stroke-width: 1px;
        }
        &.button:not(.master) {
          &.primary {
            background-color: var(--#{$color}-main) !important;
            color: var(--#{$color}-invert) !important;
            border-color: var(--#{$color}-main) !important;

            &:hover {
              background-color: var(--#{$color}-highlight) !important;
              color: var(--#{$color}-invert) !important;
              border-color: var(--#{$color}-main) !important;
            }
          }

          &.ghost {
            &:nth-child(1n) {
              color: var(--#{$color}-main);

              &:hover {
                background-color: var(--#{$color}-main);
                color: var(--#{$color}-invert);
                border-color: var(--#{$color}-main);
              }
            }
          }
        }
      }
    }
  }
}

body.dark-theme {
  --base-heading: var(--base-white);
  --base-body: var(--base-white);
  --base-background: var(--base-black);
  --body-weight:300;
}
